# Add Features

In [1]:
import psycopg2 as pg
import pandas as pd
import numpy as np

from psycopg2.extras import execute_values

1. Historic wins against opponent
2. Conference avg. rank

## Example Data

In [2]:
conn = pg.connect(database='postgres',
                  user='postgres',
                  password='w207final',
                  host='35.185.225.167')

# pull regular season and tourney data to build indexes
query = '''
    SELECT *
    FROM prod.features
    WHERE "Season Type" = 'Regular'
    LIMIT 5
'''

df = pd.read_sql_query(query, conn)
conn.close()

In [3]:
df.shape

(5, 37)

In [4]:
df.head()

,Season,DayNum,Team,Opponent,Outcome,Score,OpponentScore,NumOT,WLoc,Season Type,...,AvgPointsFor,AvgPointsAgainst,AvgNetPointsFor,SeedDiff,OpponentAvgPointsFor,OpponentAvgPointsAgainst,OpponentAvgNetPointsFor,TourWins,OpponentTourWins,TourWinsDiff
0,2003,26,1103,1324,1,88,84,0,A,Regular,...,75.0000,78.0000,-3.0000,None,95.0000,68.0,27.00000,0.0,0.0,0.0
1,2003,77,1115,1108,0,50,79,0,H,Regular,...,50.0000,78.5714,-28.5714,None,66.5882,76.0,-9.41177,0.0,0.0,0.0
2,2003,20,1105,1435,0,40,68,0,H,Regular,...,NaN,NaN,NaN,None,80.0000,58.0,22.00000,0.0,4.0,-4.0
3,2003,71,1155,1314,0,66,68,0,H,Regular,...,76.6364,64.5455,12.0909,None,70.7143,65.5,5.21429,5.0,46.0,-41.0
4,2003,30,1156,1103,1,68,65,0,A,Regular,...,69.0000,71.8000,-2.8000,None,81.5000,81.0,0.50000,2.0,0.0,2.0

## Historic Wins Against Opponent

In [5]:
conn = pg.connect(database='postgres',
                  user='postgres',
                  password='w207final',
                  host='35.185.225.167')

# Pull regular season **AND** tourney data to build indexes

query = '''
    SELECT "Season", "DayNum", "Team", "Opponent", "Outcome"
    FROM prod.features

'''
#     WHERE "Season Type" = 'Regular'



df = pd.read_sql_query(query, conn)
conn.close()

In [6]:
df.shape

(170600, 5)

In [7]:
df.head()

   Season  DayNum  Team  Opponent  Outcome
0    2003      26  1103      1324      1.0
1    2003      77  1115      1108      0.0
2    2003      20  1105      1435      0.0
3    2003      71  1155      1314      0.0
4    2003      30  1156      1103      1.0

In [8]:
# Test - filtering off team 1102 and opponent 1204, 1140

#df[['Season', 'Team' == 1102, 'Opponent' == 1204, 'Outcome']]
df[(df['Team'] == 1102) & ((df['Opponent'] == 1204) | (df['Opponent'] == 1140))]



# Could do historical record up to that point - for first game just missing game (NULL type in postgress) - if not a value previously, may default to null

#either season less than current season and if season equal daynum less than current game else don't include

        Season  DayNum  Team  Opponent  Outcome
7901      2006      66  1102      1140      1.0
7902      2006      96  1102      1140      0.0
10168     2003      91  1102      1140      0.0
10218     2003     117  1102      1140      0.0
13956     2004      82  1102      1140      1.0
13957     2004     112  1102      1140      0.0
17741     2007      89  1102      1140      0.0
17742     2007     120  1102      1140      0.0
30074     2003      58  1102      1204      1.0
30482     2008     117  1102      1140      0.0
30483     2008      86  1102      1140      0.0
48967     2010     103  1102      1140      0.0
48968     2010      72  1102      1140      0.0
57700     2011      68  1102      1140      0.0
62942     2005      82  1102      1140      1.0
86127     2003      34  1102      1204      1.0
90186     2009     124  1102      1140      0.0
90187     2009     129  1102      1140      0.0
91429     2005     112  1102      1140      1.0
92498     2011     100  1102      1140      0.0
123152    2009      92  1102      1140      0.0

In [9]:
# Wins vs. each opponent

# Could separate seasons, but commenting out
wins = df[['Season', 'DayNum', 'Team', 'Opponent', 'Outcome']].groupby(by=['Season', 'DayNum', 'Team', 'Opponent']).agg(['sum', 'count'])

# # Aggregating separate seasons
# wins = df[['Team', 'Opponent', 'Outcome']].groupby(by=["Team", "Opponent"]).agg(['sum', 'count'])

wins.reset_index(inplace=True)
wins.columns = [' '.join(col).strip() for col in wins.columns.values]
wins.rename(columns={'Outcome sum': 'wins_v_opp', 'Outcome count': 'games_v_opp'}, inplace=True)
wins['winpct_v_opp'] = wins['wins_v_opp'] / wins['games_v_opp']

In [10]:
wins.shape

(170600, 7)

In [11]:
wins.head()

   Season  DayNum  Team  Opponent  wins_v_opp  games_v_opp  winpct_v_opp
0    2003      10  1104      1328         1.0            1           1.0
1    2003      10  1272      1393         1.0            1           1.0
2    2003      10  1328      1104         0.0            1           0.0
3    2003      10  1393      1272         0.0            1           0.0
4    2003      11  1186      1458         0.0            1           0.0

In [12]:
# Test - filtering off team 1102 and opponent 1204, 1140

wins[(wins['Team'] == 1102) & ((wins['Opponent'] == 1204) | (wins['Opponent'] == 1140))]

       Season  DayNum  Team  Opponent  wins_v_opp  games_v_opp  winpct_v_opp
1526     2003      34  1102      1204         1.0            1           1.0
3000     2003      58  1102      1204         1.0            1           1.0
5884     2003      91  1102      1140         0.0            1           0.0
8070     2003     117  1102      1140         0.0            1           0.0
14232    2004      82  1102      1140         1.0            1           1.0
17000    2004     112  1102      1140         0.0            1           0.0
23596    2005      82  1102      1140         1.0            1           1.0
26446    2005     112  1102      1140         1.0            1           1.0
31790    2006      66  1102      1140         1.0            1           1.0
34492    2006      96  1102      1140         0.0            1           0.0
44014    2007      89  1102      1140         0.0            1           0.0
46966    2007     120  1102      1140         0.0            1           0.0
54340    2008      86  1102      1140         0.0            1           0.0
57078    2008     117  1102      1140         0.0            1           0.0
65396    2009      92  1102      1140         0.0            1           0.0
68316    2009     124  1102      1140         0.0            1           0.0
68688    2009     129  1102      1140         0.0            1           0.0
74122    2010      72  1102      1140         0.0            1           0.0
77008    2010     103  1102      1140         0.0            1           0.0
84322    2011      68  1102      1140         0.0            1           0.0
87352    2011     100  1102      1140         0.0            1           0.0

In [13]:
wins.dtypes

Season            int64
DayNum            int64
Team              int64
Opponent          int64
wins_v_opp      float64
games_v_opp       int64
winpct_v_opp    float64
dtype: object

In [14]:
# Creating combined season and day_num column

wins['season_daynum'] = wins['Season'].astype(str) + '_' + wins['DayNum'].astype(str)

# wins['season_daynum'] = wins.apply(lambda x:'%s_%s' % (x['Season'], x['DayNum']), axis = 1)
# wins['season_daynum'] = wins['season_daynum'].astype(int)

wins.head()

,Season,DayNum,Team,Opponent,wins_v_opp,games_v_opp,winpct_v_opp,season_daynum
0,2003,10,1104,1328,1.0,1,1.0,2003_10
1,2003,10,1272,1393,1.0,1,1.0,2003_10
2,2003,10,1328,1104,0.0,1,0.0,2003_10
3,2003,10,1393,1272,0.0,1,0.0,2003_10
4,2003,11,1186,1458,0.0,1,0.0,2003_11

In [15]:
# Attempting to convert "season_daynum" to type string

wins['season_daynum'] = wins['season_daynum'].astype(str)
# wins['season_daynum'] = wins['season_daynum'].astype('|S')

# wins['season_daynum'] = wins['season_daynum'].str.split(',') 

wins.dtypes

Season             int64
DayNum             int64
Team               int64
Opponent           int64
wins_v_opp       float64
games_v_opp        int64
winpct_v_opp     float64
season_daynum     object
dtype: object

In [16]:
wins.head()

,Season,DayNum,Team,Opponent,wins_v_opp,games_v_opp,winpct_v_opp,season_daynum
0,2003,10,1104,1328,1.0,1,1.0,2003_10
1,2003,10,1272,1393,1.0,1,1.0,2003_10
2,2003,10,1328,1104,0.0,1,0.0,2003_10
3,2003,10,1393,1272,0.0,1,0.0,2003_10
4,2003,11,1186,1458,0.0,1,0.0,2003_11

In [17]:
# Test - filtering off team 1102 and opponent 1204, 1140, season_daynum < 2008_86

wins[(wins['Team'] == 1102) & ((wins['Opponent'] == 1204) | (wins['Opponent'] == 1140)) & (wins['season_daynum'] < '2008_86')]

,Season,DayNum,Team,Opponent,wins_v_opp,games_v_opp,winpct_v_opp,season_daynum
1526,2003,34,1102,1204,1.0,1,1.0,2003_34
3000,2003,58,1102,1204,1.0,1,1.0,2003_58
5884,2003,91,1102,1140,0.0,1,0.0,2003_91
8070,2003,117,1102,1140,0.0,1,0.0,2003_117
14232,2004,82,1102,1140,1.0,1,1.0,2004_82
17000,2004,112,1102,1140,0.0,1,0.0,2004_112
23596,2005,82,1102,1140,1.0,1,1.0,2005_82
26446,2005,112,1102,1140,1.0,1,1.0,2005_112
31790,2006,66,1102,1140,1.0,1,1.0,2006_66
34492,2006,96,1102,1140,0.0,1,0.0,2006_96
44014,2007,89,1102,1140,0.0,1,0.0,2007_89
46966,2007,120,1102,1140,0.0,1,0.0,2007_120
57078,2008,117,1102,1140,0.0,1,0.0,2008_117

In [19]:
# Making data cumulative up to, but not including current day.  Inital matchups will have no data.  Takes a while to run.


# Subset data for testing

# test_slice = wins.head(10000)


def cumulative_wins_v_opp(row):
    return wins[(wins.Team == row.Team) & (wins.Opponent == row.Opponent) & 
                      (wins.season_daynum < row.season_daynum)].wins_v_opp.sum()

def cumulative_games_v_opp(row):
    return wins[(wins.Team == row.Team) & (wins.Opponent == row.Opponent) & 
                      (wins.season_daynum < row.season_daynum)].games_v_opp.sum()

# wins['cum_games_v_opp'] = wins.apply(cumulative_wins_v_opp, axis=1)

# for index, row in wins.iterrows():
# #     print(index)

#     wins['cum_wins_v_opp'] = wins[(wins.Team == row.Team) & (wins.season_daynum < row.season_daynum)].wins_v_opp.sum()
#     wins['cum_games_v_opp'] = wins[(wins.Team == row.Team) & (wins.season_daynum < row.season_daynum)].games_v_opp.sum()

# test_slice['cum_wins_v_opp'] = test_slice.apply(cumulative_wins_v_opp, axis=1)
# test_slice['cum_games_v_opp'] = test_slice.apply(cumulative_games_v_opp, axis=1)

wins['cum_wins_v_opp'] = wins.apply(cumulative_wins_v_opp, axis=1)
wins['cum_games_v_opp'] = wins.apply(cumulative_games_v_opp, axis=1)

# test_slice.shape
# test_slice
wins

,Season,DayNum,Team,Opponent,wins_v_opp,games_v_opp,winpct_v_opp,season_daynum,cum_wins_v_opp,cum_games_v_opp
0,2003,10,1104,1328,1.0,1,1.0,2003_10,0.0,0
1,2003,10,1272,1393,1.0,1,1.0,2003_10,0.0,0
2,2003,10,1328,1104,0.0,1,0.0,2003_10,0.0,0
3,2003,10,1393,1272,0.0,1,0.0,2003_10,0.0,0
4,2003,11,1186,1458,0.0,1,0.0,2003_11,0.0,0
5,2003,11,1208,1400,0.0,1,0.0,2003_11,0.0,0
6,2003,11,1266,1437,1.0,1,1.0,2003_11,0.0,0
7,2003,11,1296,1457,1.0,1,1.0,2003_11,0.0,0
8,2003,11,1400,1208,1.0,1,1.0,2003_11,0.0,0
9,2003,11,1437,1266,0.0,1,0.0,2003_11,0.0,0
10,2003,11,1457,1296,0.0,1,0.0,2003_11,0.0,0
11,2003,11,1458,1186,1.0,1,1.0,2003_11,0.0,0
12,2003,12,1156,1194,0.0,1,0.0,2003_12,0.0,0
13,2003,12,1161,1236,1.0,1,1.0,2003_12,0.0,0
14,2003,12,1186,1457,1.0,1,1.0,2003_12,0.0,0
15,2003,12,1194,1156,1.0,1,1.0,2003_12,0.0,0
16,2003,12,1236,1161,0.0,1,0.0,2003_12,0.0,0
17,2003,12,1296,1458,0.0,1,0.0,2003_12,0.0,0
18,2003,12,1457,1186,0.0,1,0.0,2003_12,0.0,0
19,2003,12,1458,1296,1.0,1,1.0,2003_12,0.0,0
20,2003,13,1106,1202,0.0,1,0.0,2003_13,0.0,0
21,2003,13,1125,1323,0.0,1,0.0,2003_13,0.0,0
22,2003,13,1135,1237,0.0,1,0.0,2003_13,0.0,0
23,2003,13,1166,1426,1.0,1,1.0,2003_13,0.0,0
24,2003,13,1202,1106,1.0,1,1.0,2003_13,0.0,0
25,2003,13,1237,1135,1.0,1,1.0,2003_13,0.0,0
26,2003,13,1323,1125,1.0,1,1.0,2003_13,0.0,0
27,2003,13,1426,1166,0.0,1,0.0,2003_13,0.0,0
28,2003,14,1106,1426,0.0,1,0.0,2003_14,0.0,0
29,2003,14,1125,1135,1.0,1,1.0,2003_14,0.0,0
...,...,...,...,...,...,...,...,...,...,...
170570,2018,999,1462,1308,0.0,0,NaN,2018_999,0.0,0
170571,2018,999,1462,1314,0.0,0,NaN,2018_999,0.0,0
170572,2018,999,1462,1326,0.0,0,NaN,2018_999,0.0,1
170573,2018,999,1462,1328,0.0,0,NaN,2018_999,0.0,0
170574,2018,999,1462,1335,0.0,0,NaN,2018_999,0.0,0
170575,2018,999,1462,1344,0.0,0,NaN,2018_999,6.0,11
170576,2018,999,1462,1345,0.0,0,NaN,2018_999,5.0,5
170577,2018,999,1462,1347,0.0,0,NaN,2018_999,0.0,0
170578,2018,999,1462,1348,0.0,0,NaN,2018_999,11.0,12
170579,2018,999,1462,1355,0.0,0,NaN,2018_999,0.0,0
170580,2018,999,1462,1361,0.0,0,NaN,2018_999,0.0,0
170581,2018,999,1462,1371,0.0,0,NaN,2018_999,6.0,12
170582,2018,999,1462,1372,0.0,0,NaN,2018_999,1.0,1
170583,2018,999,1462,1382,0.0,0,NaN,2018_999,12.0,13
170584,2018,999,1462,1393,0.0,0,NaN,2018_999,0.0,0
170585,2018,999,1462,1395,0.0,0,NaN,2018_999,0.0,0
170586,2018,999,1462,1397,0.0,0,NaN,2018_999,1.0,5
170587,2018,999,1462,1400,0.0,0,NaN,2018_999,1.0,1
170588,2018,999,1462,1401,0.0,0,NaN,2018_999,0.0,0
170589,2018,999,1462,1403,0.0,0,NaN,2018_999,0.0,0
170590,2018,999,1462,1411,0.0,0,NaN,2018_999,0.0,0
170591,2018,999,1462,1417,0.0,0,NaN,2018_999,0.0,1
170592,2018,999,1462,1420,0.0,0,NaN,2018_999,0.0,0
170593,2018,999,1462,1422,0.0,0,NaN,2018_999,0.0,0
170594,2018,999,1462,1437,0.0,0,NaN,2018_999,2.0,12
170595,2018,999,1462,1438,0.0,0,NaN,2018_999,2.0,2
170596,2018,999,1462,1439,0.0,0,NaN,2018_999,1.0,1
170597,2018,999,1462,1452,0.0,0,NaN,2018_999,1.0,1
170598,2018,999,1462,1455,0.0,0,NaN,2018_999,0.0,0
170599,2018,999,1462,1460,0.0,0,NaN,2018_999,1.0,1

In [40]:
# Testing 2018 data

wins[(wins['Season'] == 2018)]

,Season,DayNum,Team,Opponent,wins_v_opp,games_v_opp,winpct_v_opp,season_daynum,cum_wins_v_opp,cum_games_v_opp
155234,2018,11,1104,1272,1.0,1,1.0,2018_11,0.0,1
155235,2018,11,1106,1280,0.0,1,0.0,2018_11,0.0,3
155236,2018,11,1107,1233,1.0,1,1.0,2018_11,0.0,2
155237,2018,11,1108,1261,0.0,1,0.0,2018_11,0.0,1
155238,2018,11,1110,1243,0.0,1,0.0,2018_11,0.0,0
155239,2018,11,1112,1319,1.0,1,1.0,2018_11,12.0,12
155240,2018,11,1113,1226,1.0,1,1.0,2018_11,2.0,2
155241,2018,11,1115,1218,0.0,1,0.0,2018_11,0.0,5
155242,2018,11,1116,1359,1.0,1,1.0,2018_11,0.0,0
155243,2018,11,1117,1191,0.0,1,0.0,2018_11,0.0,0
155244,2018,11,1119,1220,0.0,1,0.0,2018_11,0.0,0
155245,2018,11,1120,1313,1.0,1,1.0,2018_11,0.0,0
155246,2018,11,1122,1435,0.0,1,0.0,2018_11,0.0,4
155247,2018,11,1123,1173,0.0,1,0.0,2018_11,0.0,2
155248,2018,11,1124,1146,1.0,1,1.0,2018_11,0.0,0
155249,2018,11,1125,1449,0.0,1,0.0,2018_11,0.0,1
155250,2018,11,1127,1288,1.0,1,1.0,2018_11,0.0,0
155251,2018,11,1130,1263,1.0,1,1.0,2018_11,4.0,5
155252,2018,11,1131,1318,0.0,1,0.0,2018_11,8.0,19
155253,2018,11,1132,1180,1.0,1,1.0,2018_11,0.0,0
155254,2018,11,1136,1208,0.0,1,0.0,2018_11,0.0,0
155255,2018,11,1137,1284,0.0,1,0.0,2018_11,0.0,0
155256,2018,11,1139,1244,1.0,1,1.0,2018_11,1.0,1
155257,2018,11,1142,1390,0.0,1,0.0,2018_11,0.0,3
155258,2018,11,1143,1415,0.0,1,0.0,2018_11,1.0,1
155259,2018,11,1144,1336,0.0,1,0.0,2018_11,0.0,0
155260,2018,11,1146,1124,0.0,1,0.0,2018_11,0.0,0
155261,2018,11,1148,1216,0.0,1,0.0,2018_11,6.0,8
155262,2018,11,1149,1172,0.0,1,0.0,2018_11,0.0,0
155263,2018,11,1151,1461,0.0,1,0.0,2018_11,0.0,0
...,...,...,...,...,...,...,...,...,...,...
170570,2018,999,1462,1308,0.0,0,NaN,2018_999,0.0,0
170571,2018,999,1462,1314,0.0,0,NaN,2018_999,0.0,0
170572,2018,999,1462,1326,0.0,0,NaN,2018_999,0.0,1
170573,2018,999,1462,1328,0.0,0,NaN,2018_999,0.0,0
170574,2018,999,1462,1335,0.0,0,NaN,2018_999,0.0,0
170575,2018,999,1462,1344,0.0,0,NaN,2018_999,6.0,11
170576,2018,999,1462,1345,0.0,0,NaN,2018_999,5.0,5
170577,2018,999,1462,1347,0.0,0,NaN,2018_999,0.0,0
170578,2018,999,1462,1348,0.0,0,NaN,2018_999,11.0,12
170579,2018,999,1462,1355,0.0,0,NaN,2018_999,0.0,0
170580,2018,999,1462,1361,0.0,0,NaN,2018_999,0.0,0
170581,2018,999,1462,1371,0.0,0,NaN,2018_999,6.0,12
170582,2018,999,1462,1372,0.0,0,NaN,2018_999,1.0,1
170583,2018,999,1462,1382,0.0,0,NaN,2018_999,12.0,13
170584,2018,999,1462,1393,0.0,0,NaN,2018_999,0.0,0
170585,2018,999,1462,1395,0.0,0,NaN,2018_999,0.0,0
170586,2018,999,1462,1397,0.0,0,NaN,2018_999,1.0,5
170587,2018,999,1462,1400,0.0,0,NaN,2018_999,1.0,1
170588,2018,999,1462,1401,0.0,0,NaN,2018_999,0.0,0
170589,2018,999,1462,1403,0.0,0,NaN,2018_999,0.0,0
170590,2018,999,1462,1411,0.0,0,NaN,2018_999,0.0,0
170591,2018,999,1462,1417,0.0,0,NaN,2018_999,0.0,1
170592,2018,999,1462,1420,0.0,0,NaN,2018_999,0.0,0
170593,2018,999,1462,1422,0.0,0,NaN,2018_999,0.0,0
170594,2018,999,1462,1437,0.0,0,NaN,2018_999,2.0,12
170595,2018,999,1462,1438,0.0,0,NaN,2018_999,2.0,2
170596,2018,999,1462,1439,0.0,0,NaN,2018_999,1.0,1
170597,2018,999,1462,1452,0.0,0,NaN,2018_999,1.0,1
170598,2018,999,1462,1455,0.0,0,NaN,2018_999,0.0,0
170599,2018,999,1462,1460,0.0,0,NaN,2018_999,1.0,1

In [44]:
# Generating cumulative wins percentages data

wins['cum_winpct_v_opp'] = wins['cum_wins_v_opp'] / wins['cum_games_v_opp']

wins[(wins['Season'] == 2018)].head(50)

,Season,DayNum,Team,Opponent,wins_v_opp,games_v_opp,winpct_v_opp,season_daynum,cum_wins_v_opp,cum_games_v_opp,cum_winpct_v_opp
155234,2018,11,1104,1272,1.0,1,1.0,2018_11,0.0,1,0.000000
155235,2018,11,1106,1280,0.0,1,0.0,2018_11,0.0,3,0.000000
155236,2018,11,1107,1233,1.0,1,1.0,2018_11,0.0,2,0.000000
155237,2018,11,1108,1261,0.0,1,0.0,2018_11,0.0,1,0.000000
155238,2018,11,1110,1243,0.0,1,0.0,2018_11,0.0,0,NaN
155239,2018,11,1112,1319,1.0,1,1.0,2018_11,12.0,12,1.000000
155240,2018,11,1113,1226,1.0,1,1.0,2018_11,2.0,2,1.000000
155241,2018,11,1115,1218,0.0,1,0.0,2018_11,0.0,5,0.000000
155242,2018,11,1116,1359,1.0,1,1.0,2018_11,0.0,0,NaN
155243,2018,11,1117,1191,0.0,1,0.0,2018_11,0.0,0,NaN
155244,2018,11,1119,1220,0.0,1,0.0,2018_11,0.0,0,NaN
155245,2018,11,1120,1313,1.0,1,1.0,2018_11,0.0,0,NaN
155246,2018,11,1122,1435,0.0,1,0.0,2018_11,0.0,4,0.000000
155247,2018,11,1123,1173,0.0,1,0.0,2018_11,0.0,2,0.000000
155248,2018,11,1124,1146,1.0,1,1.0,2018_11,0.0,0,NaN
155249,2018,11,1125,1449,0.0,1,0.0,2018_11,0.0,1,0.000000
155250,2018,11,1127,1288,1.0,1,1.0,2018_11,0.0,0,NaN
155251,2018,11,1130,1263,1.0,1,1.0,2018_11,4.0,5,0.800000
155252,2018,11,1131,1318,0.0,1,0.0,2018_11,8.0,19,0.421053
155253,2018,11,1132,1180,1.0,1,1.0,2018_11,0.0,0,NaN
155254,2018,11,1136,1208,0.0,1,0.0,2018_11,0.0,0,NaN
155255,2018,11,1137,1284,0.0,1,0.0,2018_11,0.0,0,NaN
155256,2018,11,1139,1244,1.0,1,1.0,2018_11,1.0,1,1.000000
155257,2018,11,1142,1390,0.0,1,0.0,2018_11,0.0,3,0.000000
155258,2018,11,1143,1415,0.0,1,0.0,2018_11,1.0,1,1.000000
155259,2018,11,1144,1336,0.0,1,0.0,2018_11,0.0,0,NaN
155260,2018,11,1146,1124,0.0,1,0.0,2018_11,0.0,0,NaN
155261,2018,11,1148,1216,0.0,1,0.0,2018_11,6.0,8,0.750000
155262,2018,11,1149,1172,0.0,1,0.0,2018_11,0.0,0,NaN
155263,2018,11,1151,1461,0.0,1,0.0,2018_11,0.0,0,NaN
155264,2018,11,1152,1234,0.0,1,0.0,2018_11,0.0,1,0.000000
155265,2018,11,1153,1366,1.0,1,1.0,2018_11,1.0,1,1.000000
155266,2018,11,1155,1441,1.0,1,1.0,2018_11,3.0,3,1.000000
155267,2018,11,1158,1373,1.0,1,1.0,2018_11,0.0,0,NaN
155268,2018,11,1159,1163,0.0,1,0.0,2018_11,0.0,1,0.000000
155269,2018,11,1160,1294,1.0,1,1.0,2018_11,3.0,3,1.000000
155270,2018,11,1161,1170,1.0,1,1.0,2018_11,0.0,0,NaN
155271,2018,11,1162,1437,0.0,1,0.0,2018_11,1.0,3,0.333333
155272,2018,11,1163,1159,1.0,1,1.0,2018_11,1.0,1,1.000000
155273,2018,11,1164,1332,0.0,1,0.0,2018_11,0.0,1,0.000000
155274,2018,11,1165,1393,0.0,1,0.0,2018_11,0.0,11,0.000000
155275,2018,11,1166,1463,1.0,1,1.0,2018_11,0.0,0,NaN
155276,2018,11,1168,1425,0.0,1,0.0,2018_11,0.0,5,0.000000
155277,2018,11,1170,1161,0.0,1,0.0,2018_11,0.0,0,NaN
155278,2018,11,1172,1149,1.0,1,1.0,2018_11,0.0,0,NaN
155279,2018,11,1173,1123,1.0,1,1.0,2018_11,2.0,2,1.000000
155280,2018,11,1174,1350,1.0,1,1.0,2018_11,0.0,1,0.000000
155281,2018,11,1178,1439,0.0,1,0.0,2018_11,0.0,0,NaN
155282,2018,11,1180,1132,0.0,1,0.0,2018_11,0.0,0,NaN
155283,2018,11,1181,1189,1.0,1,1.0,2018_11,6.0,6,1.000000

In [75]:
# Preparing to load data

to_load = wins[['Season', 'DayNum', 'Team', 'Opponent', 'cum_wins_v_opp', 'cum_games_v_opp', 'cum_winpct_v_opp']].copy()


to_load = to_load.where(pd.notnull(to_load), None)


to_load

,Season,DayNum,Team,Opponent,cum_wins_v_opp,cum_games_v_opp,cum_winpct_v_opp
0,2003,10,1104,1328,0,0,None
1,2003,10,1272,1393,0,0,None
2,2003,10,1328,1104,0,0,None
3,2003,10,1393,1272,0,0,None
4,2003,11,1186,1458,0,0,None
5,2003,11,1208,1400,0,0,None
6,2003,11,1266,1437,0,0,None
7,2003,11,1296,1457,0,0,None
8,2003,11,1400,1208,0,0,None
9,2003,11,1437,1266,0,0,None
10,2003,11,1457,1296,0,0,None
11,2003,11,1458,1186,0,0,None
12,2003,12,1156,1194,0,0,None
13,2003,12,1161,1236,0,0,None
14,2003,12,1186,1457,0,0,None
15,2003,12,1194,1156,0,0,None
16,2003,12,1236,1161,0,0,None
17,2003,12,1296,1458,0,0,None
18,2003,12,1457,1186,0,0,None
19,2003,12,1458,1296,0,0,None
20,2003,13,1106,1202,0,0,None
21,2003,13,1125,1323,0,0,None
22,2003,13,1135,1237,0,0,None
23,2003,13,1166,1426,0,0,None
24,2003,13,1202,1106,0,0,None
25,2003,13,1237,1135,0,0,None
26,2003,13,1323,1125,0,0,None
27,2003,13,1426,1166,0,0,None
28,2003,14,1106,1426,0,0,None
29,2003,14,1125,1135,0,0,None
...,...,...,...,...,...,...,...
170570,2018,999,1462,1308,0,0,None
170571,2018,999,1462,1314,0,0,None
170572,2018,999,1462,1326,0,1,0
170573,2018,999,1462,1328,0,0,None
170574,2018,999,1462,1335,0,0,None
170575,2018,999,1462,1344,6,11,0.545455
170576,2018,999,1462,1345,5,5,1
170577,2018,999,1462,1347,0,0,None
170578,2018,999,1462,1348,11,12,0.916667
170579,2018,999,1462,1355,0,0,None
170580,2018,999,1462,1361,0,0,None
170581,2018,999,1462,1371,6,12,0.5
170582,2018,999,1462,1372,1,1,1
170583,2018,999,1462,1382,12,13,0.923077
170584,2018,999,1462,1393,0,0,None
170585,2018,999,1462,1395,0,0,None
170586,2018,999,1462,1397,1,5,0.2
170587,2018,999,1462,1400,1,1,1
170588,2018,999,1462,1401,0,0,None
170589,2018,999,1462,1403,0,0,None
170590,2018,999,1462,1411,0,0,None
170591,2018,999,1462,1417,0,1,0
170592,2018,999,1462,1420,0,0,None
170593,2018,999,1462,1422,0,0,None
170594,2018,999,1462,1437,2,12,0.166667
170595,2018,999,1462,1438,2,2,1
170596,2018,999,1462,1439,1,1,1
170597,2018,999,1462,1452,1,1,1
170598,2018,999,1462,1455,0,0,None
170599,2018,999,1462,1460,1,1,1

In [77]:
datarows = []
for i in to_load.itertuples(index=False):
    row = (int(i.Season), int(i.DayNum), int(i.Team), int(i.Opponent), int(i.cum_wins_v_opp), 
               int(i.cum_games_v_opp), i.cum_winpct_v_opp)
    datarows.append(row)

In [78]:
alter = '''
    ALTER TABLE prod.features
      ADD COLUMN IF NOT EXISTS "cum_wins_v_opp" REAL,
      ADD COLUMN IF NOT EXISTS "cum_games_v_opp" REAL,
      ADD COLUMN IF NOT EXISTS "cum_winpct_v_opp" REAL
'''

update = '''
    UPDATE prod.features as f
       SET "cum_wins_v_opp" = data."cum_wins_v_opp",
           "cum_games_v_opp" = data."cum_games_v_opp",
           "cum_winpct_v_opp" = data."cum_winpct_v_opp"
      FROM (VALUES %s) AS data (
             "Season",
             "DayNum",
             "Team",
             "Opponent",
             "cum_wins_v_opp",
             "cum_games_v_opp",
             "cum_winpct_v_opp"
             )
     WHERE f."Season" = data."Season"
       and f."DayNum" = data."DayNum"
       and f."Team" = data."Team"
       and f."Opponent" = data."Opponent"

'''
#        and f."Season Type" = 'NCAA Tourney'
conn = pg.connect(database='postgres',
                  user='postgres',
                  password='w207final',
                  host='35.185.225.167')

c = conn.cursor()
c.execute(alter)
# execute_values(c, update, datarows, page_size=8000)
execute_values(c, update, datarows, page_size=200000)
conn.commit()
conn.close()

In [79]:
# Testing uploaded data

conn = pg.connect(database='postgres',
                  user='postgres',
                  password='w207final',
                  host='35.185.225.167')

# pull regular season and tourney data to build indexes
query = '''
    SELECT *
    FROM prod.features
    WHERE "Season Type" = 'Regular'
    AND "Season" = 2018
    LIMIT 500
'''

df = pd.read_sql_query(query, conn)
conn.close()

df.head(500)

,Season,DayNum,Team,Opponent,Outcome,Score,OpponentScore,NumOT,WLoc,Season Type,...,SeedDiff,OpponentAvgPointsFor,OpponentAvgPointsAgainst,OpponentAvgNetPointsFor,TourWins,OpponentTourWins,TourWinsDiff,cum_wins_v_opp,cum_games_v_opp,cum_winpct_v_opp
0,2018,11,1146,1124,0,66,107,0,H,Regular,...,None,NaN,NaN,NaN,0.0,10.0,-10.0,0.0,0.0,NaN
1,2018,11,1407,1315,0,80,83,0,N,Regular,...,None,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
2,2018,11,1132,1180,1,78,69,0,A,Regular,...,None,NaN,NaN,NaN,0.0,1.0,-1.0,0.0,0.0,NaN
3,2018,12,1417,1210,1,63,60,0,N,Regular,...,None,NaN,NaN,NaN,46.0,22.0,24.0,1.0,1.0,1.000000
4,2018,11,1313,1120,0,74,102,0,H,Regular,...,None,NaN,NaN,NaN,1.0,12.0,-11.0,0.0,0.0,NaN
5,2018,11,1324,1236,1,85,71,0,H,Regular,...,None,NaN,NaN,NaN,1.0,0.0,1.0,12.0,17.0,0.705882
6,2018,11,1220,1119,1,77,74,0,H,Regular,...,None,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
7,2018,11,1113,1226,1,94,74,0,H,Regular,...,None,NaN,NaN,NaN,5.0,0.0,5.0,2.0,2.0,1.000000
8,2018,11,1165,1393,0,45,77,0,H,Regular,...,None,NaN,NaN,NaN,2.0,52.0,-50.0,0.0,11.0,0.000000
9,2018,11,1192,1371,0,68,90,0,H,Regular,...,None,NaN,NaN,NaN,0.0,15.0,-15.0,2.0,5.0,0.400000
10,2018,11,1280,1106,1,96,68,0,H,Regular,...,None,NaN,NaN,NaN,10.0,0.0,10.0,3.0,3.0,1.000000
11,2018,11,1419,1395,0,73,83,0,H,Regular,...,None,NaN,NaN,NaN,0.0,1.0,-1.0,1.0,1.0,1.000000
12,2018,11,1439,1178,1,111,79,0,H,Regular,...,None,NaN,NaN,NaN,2.0,2.0,0.0,0.0,0.0,NaN
13,2018,11,1440,1301,0,67,102,0,H,Regular,...,None,NaN,NaN,NaN,0.0,19.0,-19.0,0.0,1.0,0.000000
14,2018,11,1441,1155,0,57,85,0,H,Regular,...,None,NaN,NaN,NaN,0.0,6.0,-6.0,0.0,3.0,0.000000
15,2018,11,1462,1287,1,101,49,0,H,Regular,...,None,NaN,NaN,NaN,27.0,2.0,25.0,2.0,2.0,1.000000
16,2018,11,1463,1166,0,76,92,0,H,Regular,...,None,NaN,NaN,NaN,1.0,6.0,-5.0,0.0,0.0,NaN
17,2018,12,1323,1177,1,72,58,0,A,Regular,...,None,NaN,NaN,NaN,17.0,7.0,10.0,12.0,15.0,0.800000
18,2018,13,1404,1228,0,74,77,0,H,Regular,...,None,102.0000,55.0000,47.000000,0.0,28.0,-28.0,0.0,1.0,0.000000
19,2018,15,1102,1145,1,93,79,0,H,Regular,...,None,75.0000,80.0000,-5.000000,0.0,0.0,0.0,0.0,0.0,NaN
20,2018,18,1164,1156,0,56,80,0,H,Regular,...,None,47.5000,68.5000,-21.000000,1.0,3.0,-2.0,0.0,0.0,NaN
21,2018,19,1216,1254,0,84,86,0,N,Regular,...,None,79.3333,87.0000,-7.666670,0.0,0.0,0.0,3.0,7.0,0.428571
22,2018,19,1217,1264,0,69,73,0,H,Regular,...,None,80.0000,79.0000,1.000000,2.0,2.0,0.0,1.0,1.0,1.000000
23,2018,19,1251,1222,0,66,68,0,A,Regular,...,None,80.5000,68.5000,12.000000,0.0,0.0,0.0,0.0,1.0,0.000000
24,2018,20,1163,1131,1,85,66,0,H,Regular,...,None,66.5000,76.5000,-10.000000,55.0,0.0,55.0,3.0,3.0,1.000000
25,2018,20,1164,1353,0,39,64,0,H,Regular,...,None,70.5000,52.5000,18.000000,1.0,0.0,1.0,0.0,0.0,NaN
26,2018,20,1165,1262,0,78,98,0,H,Regular,...,None,72.5000,73.5000,-1.000000,2.0,0.0,2.0,1.0,3.0,0.333333
27,2018,20,1216,1275,1,68,58,0,N,Regular,...,None,68.6667,65.0000,3.666670,0.0,3.0,-3.0,0.0,0.0,NaN
28,2018,20,1249,1167,0,73,85,0,A,Regular,...,None,56.0000,84.0000,-28.000000,0.0,0.0,0.0,0.0,0.0,NaN
29,2018,20,1251,1346,1,84,72,0,H,Regular,...,None,68.5000,74.5000,-6.000000,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,2018,44,1125,1454,1,82,63,0,H,Regular,...,None,66.3750,65.1250,1.250000,0.0,3.0,-3.0,1.0,1.0,1.000000
471,2018,44,1129,1213,1,85,80,2,H,Regular,...,None,71.5556,59.0000,12.555600,0.0,0.0,0.0,0.0,0.0,NaN
472,2018,44,1131,1262,0,82,87,0,H,Regular,...,None,76.8889,78.8889,-2.000000,0.0,0.0,0.0,2.0,4.0,0.500000
473,2018,44,1133,1114,1,86,46,0,H,Regular,...,None,61.2500,69.1250,-7.875000,3.0,2.0,1.0,0.0,1.0,0.000000
474,2018,44,1176,1294,0,63,83,0,H,Regular,...,None,66.4286,67.1429,-0.714286,0.0,0.0,0.0,9.0,13.0,0.692308
475,2018,44,1198,1316,0,85,87,0,H,Regular,...,None,77.6667,90.3333,-12.666700,0.0,0.0,0.0,2.0,3.0,0.666667
476,2018,44,1228,1255,1,92,45,0,H,Regular,...,None,60.1667,76.8333,-16.666700,28.0,0.0,28.0,1.0,1.0,1.000000
477,2018,44,1255,1228,0,45,92,0,H,Regular,...,None,81.6000,73.9000,7.700000,0.0,28.0,-28.0,0.0,1.0,0.000000
478,2018,44,1261,1222,1,80,77,0,H,Regular,...,None,81.6667,65.4444,16.222200,16.0,0.0,16.0,4.0,8.0,0.500000
479,2018,44,1279,1358,1,82,69,0,H,Regular,...,None,58.4000,67.2000,-8.800000,5.0,0.0,5.0,0.0,0.0,NaN
480,2018,44,1290,1182,0,49,73,0,H,Regular,...,None,75.8750,64.8750,11.000000,0.0,0.0,0.0,0.0,1.0,0.000000
481,2018,44,1309,1374,0,66,79,0,H,Regular,...,None,74.9000,60.1000,14.800000,1.0,2.0,-1.0,0.0,0.0,NaN
482,2018,44,1332,1340,1,95,84,0,H,Regular,...,None,84.3750,81.6250,2.750000,17.0,0.0,17.0,7.0,8.0,0.875000
483,2018,44,1366,1401,0,66,113,0,H,Regular,...,None,79.2222,64.0000,15.222200,0.0,8.0,-8.0,0.0,1.0,0.000000
484,2018,44,1443,1458,0,80,81,0,H,Regular,...,None,66.0909,65.2727,0.818182,9.0,34.0,-25.0,0.0,0.0,NaN
485,2018,44,1454,1125,0,63,82,0,H,Regular,...,None,75.0000,74.5000,0.500000,3.0,0.0,3.0,0.0,1.0,0.000000
486,2018,44,1458,1443,1,81,80,0,H,Regular,...,None,77.8750,71.3750,6.500000,34.0,9.0,25.0,0.0,0.0,NaN
487,2018,45,1124,1411,1,99,68,0,H,Regular,...,None,72.8889,87.2222,-14.333300,10.0,0.0,10.0,7.0,7.0,1.000000
488,2018,45,1126,1378,0,63,83,0,H,Regular,...,None,62.7000,67.0000,-4.300000,0.0,2.0,-2.0,1.0,5.0,0.200000
489,2018,45,1144,1154,1,87,77,0,H,Regular,...,None,81.4286,99.1429,-17.714300,0.0,0.0,0.0,2.0,2.0,1.000000
490,2018,45,1197,1380,0,50,68,0,H,Regular,...,None,64.4444,84.1111,-19.666700,1.0,1.0,0.0,1.0,4.0,0.250000
491,2018,45,1270,1300,0,71,77,0,H,Regular,...,None,68.2000,74.9000,-6.700000,0.0,0.0,0.0,0.0,1.0,0.000000
492,2018,45,1300,1270,1,77,71,0,H,Regular,...,None,63.2000,86.0000,-22.800000,0.0,0.0,0.0,1.0,1.0,1.000000
493,2018,45,1321,1434,1,84,50,0,H,Regular,...,None,76.6250,67.3750,9.250000,1.0,2.0,-1.0,0.0,0.0,NaN
494,2018,45,1377,1319,1,90,77,0,A,Regular,...,None,61.5000,81.3750,-19.875000,0.0,0.0,0.0,0.0,0.0,NaN
495,2018,45,1425,1365,1,82,59,0,H,Regular,...,None,69.2857,71.2857,-2.000000,9.0,2.0,7.0,1.0,1.0,1.000000
496,2018,46,1149,1184,0,65,70,0,A,Regular,...,None,65.7500,79.1250,-13.375000,0.0,0.0,0.0,0.0,0.0,NaN
497,2018,46,1160,1355,1,112,103,2,H,Regular,...,None,79.8000,77.2000,2.600000,2.0,0.0,2.0,0.0,0.0,NaN
498,2018,46,1166,1271,1,87,36,0,H,Regular,...,None,54.2000,83.1000,-28.900000,6.0,0.0,6.0,0.0,0.0,NaN
499,2018,46,1171,1227,0,60,76,0,H,Regular,...,None,68.5000,75.8750,-7.375000,0.0,0.0,0.0,0.0,0.0,NaN

In [68]:
df.shape

(500, 40)

In [ ]:
# for tourney features, if never matched - say 50/50 matchup

# Winning / Losing Field Goal Attempts

In [ ]:
# Winning / Losing Field Goal Attempts - Percent of field goals attempted by winning vs. losing teams

conn = pg.connect(database='postgres',
                  user='postgres',
                  password='w207final',
                  host='35.185.225.167')

# Pull regular season **AND** tourney data to build indexes

query = '''
    SELECT "Season", "DayNum", "WTeamID", "LTeamID", "WFGA", "LFGA", "WFGM", "WFGA"
    FROM prod."RegSeasonDetailedResults"
'''
#     WHERE "Season Type" = 'Regular'



df = pd.read_sql_query(query, conn)
conn.close()

In [ ]:
df.shape

In [ ]:
df.head()

## Conference Avg. Rank

In [ ]:
conn = pg.connect(database='postgres',
                  user='postgres',
                  password='w207final',
                  host='35.185.225.167')

# Pull regular season **AND** tourney data to build indexes


query = '''
    SELECT "Season", "ConfAbbrev", "DayNum", "WTeamID", "LTeamID"
    FROM prod."ConferenceTourneyGames"

'''
#WHERE "Season Type" = 'Regular'



df = pd.read_sql_query(query, conn)
conn.close()

In [ ]:
# take avg rank from features and group by conference teams are in for a year

# avg of "avg daily rankings"


# join season, team id for conference